
.preloader {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
  background: rgb(23, 22, 22);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  transition: opacity 0.3s linear;
}
.montserrat h1,.montserrat h2,.montserrat h3,.montserrat h4,
.montserrat h5,.montserrat h6{font-family:'Montserrat', sans-serif !important;
  font-weight:700 !important;}

 .customtab.nav-pills .nav-link {
    border-radius: 0 !important;
    position: relative;
    padding: 20px 30px;
    color: #5A55A3;
    border:1px solid #dee2e6 !important;
}
 
.customtab.nav-pills .nav-link.active {
 background: #5A55A3;
 color: #fff;
}

.customtab.nav-pills .nav-link.active:after{
  content: '';
  position: absolute;
  left: 100%;
  top: 50%;
  margin-top: -13px;
  border-left: 0;
  border-bottom: 13px solid transparent;
  border-top: 13px solid transparent;
  border-left: 10px solid #5A55A3;
}

 a.resetall{border:none !important; padding: 0;}
a:hover.resetall,a::before.resetall  {background:none !important;border: none;}
a:hover::before.resetall{    transform: scaleY(0) !important;}